<div> 

<div class="">
    

    <form novalidate
          [formGroup]="searchForm1"
          (submit)="getWeatherForecastBasedOnCity()">
      <div class="input-group" style="padding-left: 36%;padding-top: 4%;">
       
        <input type="text"
               class="form-control"
               style="width: 150px;border-radius: 0px;"
               placeholder="City name"
               aria-describedby="Search"
               formControlName="searchInput">
                <button class="btn btn-default"
                [disabled]="searchForm1.invalid">
          Get Forecast
        </button>
      </div>

      <section class="margin-top right">
      
      </section>
    </form>


</div>
<div>
    <app-forecast-details [list]="list">
  </app-forecast-details>
</div>
  </div>