<nav class="navbar navbar-inverse " style="min-height: 90px; border-radius: 0px;">
  <div class="container-fluid">
   <div class="navbar-header" style="padding-top: 19px">
     <a routerLink="home" class="navbar-brand" style="padding-left: 80px">Live Weather</a>
    </div>
   
   
      <ul class="nav navbar-nav" style="float: right;padding-top: 25px;padding-right: 5px;font-size: 17px;">
        <li><a routerLink="find-city-weather">Check weather</a></li>
        <li><a routerLink="" >Contact</a></li>
        <li><a routerLink="" >About</a></li>
      </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
